.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    row-gap: 100px;
}

.container--left {
    width: 60%;
    padding: 50px;
}

.container--right {
    width: 40%;
    padding: 50px;
}

.basic--grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
}

.seat {
    background-color: lightgrey;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}

.seat--booked {
    background-color: #FF4B2B;
}